<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Books Home</title>
    <link rel="stylesheet" href="{% static 'belt/css/styles.css' %}">    
</head>
<body>
    <div class="wrapper">
        <div>
            <h2 class="iblock">Welcome, {{user.name}}</h2>
            <div class="right iblock">
                <a class="link" href='/new_book'>Add Book and Review</a> 
                <a class="link" href='/logout'>Logout</a>
            </div>
        </div>
        <div class="iblock">
            <h3>Recent Book Reviews:</h3>
            {% for each in recent_review %}
            <ul><a href='/new_review/{{each.book.id}}'>{{each.book.title}}</a> 
                <li class="li">rating: {{each.rating}}</li>
                <li class="li"><a href='/display_user/{{each.reviewer.id}}'>{{each.reviewer.name}}</a> Say: {{each.review}}</li>
                <li class="li">Posted on {{each.created_at}}</li>
            </ul>
            {% endfor %} 
            
            
            
        </div>
        <div class="iblock">
            <h3>Other Books with Reviews:</h3>
            <div class="scrll">
                {% for each in other_books %}
                <li class="li"><a href='/new_review/{{each.id}}'>{{each.title}}</a></li>
                {% endfor %} 
            </div>
        </div>
    </div>
</body>
</html>