<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="{% static 'belt/css/styles.css' %}">    
</head>
<body>
    <div class="iblock">
        <h1>Registration</h1>
        {% if messages %}
            {% for each in messages %}
                <li class="red">{{each}}</li>
            {% endfor %}
        {% endif %}
        <form action="/register" method="POST">
            {% csrf_token %}
            <p>Name:</p>
            <p><input type="text" name="name"></p>
            <p>Alias:</p>
            <p><input type="text" name="alias"></p>
            <p>Email:</p>
            <p><input type="text" name="email"></p>
            <p>Password:</p>
            <p><input type="password" name="password"></p>
            <p>Confirm PW:</p>
            <p><input type="password" name="c_password"></p>
            <input type="submit" value="Register">
        </form>
    </div>
    <div class="iblock">
        <h1>Login</h1>
        <form action="/login" method="POST">
            {% csrf_token %}
            <p>Email:</p>
            <p><input type="text" name="email"></p>
            <p>Password:</p>
            <p><input type="password" name="password"></p>
            <input type="submit" value="Login">
        </form>
    </div>
</body>
</html>