<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet" href="{% static 'belt/css/styles.css' %}">    
</head>
<body>
    <div class="wrapper">
        <div class="right">
            <a class="link" href='/success'>Home</a>
            <a class="link" href='/logout'>Logout</a>
        </div>
        <div>
            <h2>Add a New Book Title and a review:</h2>
            <form action="/upload/0" method="POST">
                {% csrf_token %}
                <p>Book Title: <input type="text" name="title"></p>
                <p>Author:</p>
                <p class="li">Choose from the list <select name="author">
                        {% for each in author %}
                        <option value={{each.id}}>{{each.name}}</option>
                        {% endfor %}
                    </select></p>
                <p class="li">Or add a new author: <input type="text" name="new_author"></p>
                <p >Review: <textarea rows="4" cols="52" name="review"></textarea></p>
                <p>Rating: <select name="rating">
                        <option value=5>5</option>
                        <option value=4>4</option>
                        <option value=3>3</option>
                        <option value=2>2</option>
                        <option value=1>1</option>
                    </select> stars.</p>
                <p><input type="submit" value="Add Book and Review"></p>
                
            </form>
        </div>
    </div>
</body>
</html>