<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Add Review</title>
    <link rel="stylesheet" href="{% static 'belt/css/styles.css' %}">    
</head>
<body>
    <div class="wrapper">
        <div class="right">
            <a class="link" href='/success'>Home</a> 
            <a class="link" href='/logout'>Logout</a>
        </div>
        <div>
            <h2>{{book.title}}</h2>
            <p>Author: {{book.author.name}}</p>  
        </div>
        <div class="iblock">
            <h3>Reviews:</h3>
            {% for each in reviews %}
            <ul>
                <li class="li">rating: {{each.rating}}</li>
                <li class="li"><a href='/display_user/{{each.reviewer.id}}'>{{each.reviewer.name}}</a> says: {{each.review}}</li>
                <li class="li">Posted on {{each.created_at}}
                {% if user_id == each.reviewer.id %}
                    <a class="right" href='/delete/{{each.id}}'>Delete this review</a>
                {% endif %}
                </li>
            </ul>
            {% endfor %} 
            
            
        </div>
        <div class="iblock">
            <h3>Add a review:</h3>
            <form action="/upload/{{book.id}}" method="POST">
                {% csrf_token %}
                <p>Review:</p>
                <p><textarea rows="4" cols="50" name="review"></textarea></p>
                <p>Rating: <select name="rating">
                        <option value=5>5</option>
                        <option value=4>4</option>
                        <option value=3>3</option>
                        <option value=2>2</option>
                        <option value=1>1</option>
                    </select> stars.</p>
                <input class="right" type="submit" value="Submit Review">
            </form>
        </div>
    </div>

</body>
</html>