<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet" href="{% static 'belt/css/styles.css' %}">    
</head>
<body>
    <div class="wrapper">
        <div class="right">
                <a class="link" href='/success'>Home</a> 
                <a class="link" href='/new_book'>Add Book and Review</a>
                <a class="link" href='/logout'>Logout</a>
        </div>
        <div >
            <h3>User Alias: {{user.alias}}</h3>
            <p>Name: {{user.name}}</p>
            <p>Email: {{user.email}}</p>
            <p>Total Reviews: {{total}}</p>

        </div>
        <div >
            <h3>Posted Reviews on the following books:</h3>
                {% for each in books %}
                <li class="li"><a href='/new_review/{{each.id}}'>{{each.title}}</a></li>
                {% endfor %} 
            </div>
    </div>

</body>
</html>