.wrapper {
    width: 1000px;
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 14px;
}
.iblock {
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    width: 440px;
}
.red{
    color: red;
}
.link{
    margin-right: 15px;
    font-size: 14px;
}
.right{
    text-align: right;
}
.top{
    vertical-align: top;
}
.scrll {
    overflow: scroll;
    width: 350px;
    height: 100px;
    border: solid 1px;
    padding: 5px;
}
.li{
    list-style: none;
    font-size: 14px;
    margin-left: 15px;
}
ul{
    margin-top: 15px;
    font-size: 16px;
    list-style-position: inside;
    padding-top:10px;
    padding-left: 0;
    border-top: solid black 1px;
}
a:link {
    color: rgb(58, 86, 241);
}
a:visited {
    color: rgb(58, 86, 241);
}
a:hover {
    color: blue;
}
a:active {
    color: blue;
}
input[type="text"]{
    width: 200px;
    height: 18px;
    border: 1px solid rgb(102, 102, 102);
}